body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.06);
    backdrop-filter: blur(10px);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
h1{
    font-size: 40px;
    text-align: center;
    color: #e5383b;
    letter-spacing: 3px;
    margin-bottom: 5%;

}
label{
    margin-top: 15px;
    font-size: 20px;
    color: white;
    margin-left: 10%;
}
input{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 8%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border-bottom: 1px solid white ;
}
button{
    width: 30%;
    height: 4vh;
    margin: 3% auto;
    color: white;
    background-color: #e5383b;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 1px;


}
button a{
    text-decoration: none;
}
button:hover{
    color: red;
    background-color: white;
}
.si{
    display: flex;
    margin-left: 25%;
    margin-top: 1%;
    color: white;
    font-size: 18px;
}
.a1{
    padding-left: 1%;
}
.a1:hover{
    color: red;
}